/*
This file contains CSS definitions for all the Maemo desktop theme colors and fonts.
Theme Name   : Harmattan-Marina
Installed in : @CSS_FULL_DIR@
*/

/* COLORS */

/* Normal Text Colors */
.DefaultTextColor {
  color: #282828;
}
.SecondaryTextColor {
  color: #505050;
}
.ActiveTextColor {
  color: #505050;
}
.DisabledTextColor {
  color: #BFBFBF;
}
.PaintedTextColor {
  color: #C8C8C8;
}

/* Reversed Text Colors */
.ReversedTextColor {
  color: #505050;
}
.ReversedSecondaryTextColor {
  color: #C8C8C8;
}
.ReversedActiveTextColor {
  color: #C8C8C8;
}
.ReversedDisabledTextColor {
  color: #999999;
}
.ReversedPaintedTextColor {
  color: #ffffff;
}

/* Background colors */
.DefaultBackgroundColor {
  background: #E0E1E2;
}
.DarkerBackgroundColor {
  background: #E0E1E2;
}
.ReversedBackgroundColor {
  background: #ffffff;
}

/* Selections */
.SelectionColor {
  color: #4591FF;
}
.ReversedSelectionColor {
  color: #4591FF;
}

/* Media colors */
.ContentBackgroundColor {
  background: #E0E1E2;
}
.ContentFrameColor {
  background: #0e0e0e;
}
.ContentSelectionColor {
  background: #4591FF;
}

/* Framework stuff */
.TitleTextColor {
  color: #ffffff;
}
.ButtonTextColor {
  color: #282828;
}
.ButtonTextPressedColor {
  color: #000000;
}
.ButtonTextDisabledColor {
  color: #BFBFBF;
}

/* Crayons */
.AccentColor1 {
  color: #74c6fa;
}

.AccentColor2 {
  color: #51cd54;
}

.AccentColor3 {
  color: #cdb751;
}

.AttentionColor {
  color: #ff0000;
}

/* Notification Colors */
.NotificationBackgroundColor {
  color: #151515;
}

.NotificationTextColor {
  color: #ffffff;
}

.NotificationSecondaryTextColor {
  color: #3d9cff;
}

/* Messaging UI specific colours */
.MessagingViewBackgroundColor {
  background-color: #E0E1E2;
}
.MessagingBubbleSelfBackgroundColor {
  background-color: #f5f5f5;
}
.MessagingBubbleOtherBackgroundColor {
  background-color: #09a7cc;
}
.MessagingBubbleClickedBackgroundColor {
  background-color: #34719b;
}
.MessagingBubbleBorderColor {
  border-color: #000000;
}
.MessagingAvatarBorderColor {
  border-color: #000000;
}
.MessagingAvatarBorderMaskColor {
  outline-color: #000000;
}


a:link {
  color: #74c6fa;
}

/* FONTS */

/* legacy */

.osso-SystemFont {
	font: 18px "Nokia Prue Text T"
}

.osso-EmpSystemFont {
	font: bold 18px "Nokia Prue Text T"
}

.osso-LargeFont {
	font: 26px "Nokia Prue Text T"
}

.osso-SmallFont {
	font: 13px "Nokia Prue Text T"
}

.osso-HWRFont1 {
  font: 52px "Nokia Prue Text T"
}

.osso-HWRFont2 {
  font: 38px "Nokia Prue Text T"
}

.osso-TitleFont {
	font: 18px "Nokia Prue Text T"
}

.osso-ButtonFont {
	font: 18px "Nokia Prue Text T"
}

/* new fonts for fremantle */

.SystemFont {
	font: 24px "Nokia Prue Text T"
}

.EmpSystemFont {
	font: bold 24px "Nokia Prue Text T"
}

.LargeSystemFont {
	font: 35px "Nokia Prue Text T"
}

.SmallSystemFont {
	font: 18px "Nokia Prue Text T"
}

.EmpSmallSystemFont {
	font: bold 18px "Nokia Prue Text T"
}

.X-LargeSystemFont {
	font: 42px "Nokia Prue Text T"
}

.XX-LargeSystemFont {
	font: 70px "Nokia Prue Text T"
}

.XXX-LargeSystemFont {
	font: 100px "Nokia Prue Text T"
}
